@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL CLASSES */

:root {
	--text: #0b0b0c;
	--background: #f9fafc;
	--primary: #104175;
	--secondary: #88b9ee;
	--accent: #3d99fc;
	--shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text);
	font-family: 'Poppins', sans-serif;
}

body,
html {
	background-color: var(--background);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.cta {
	background-color: var(--secondary);
	color: var(--primary);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	transition: 0.3s all;
}

.cta:hover {
	opacity: 0.8;
}

/* HEADER COMPONENT */

nav {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	background-color: var(--background);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

nav ul {
	display: flex;
	gap: 1em;
}

nav li a {
	transition: 0.3s all;
}

nav li a:hover {
	color: var(--primary);
}

nav .logo {
	height: 10vh;
	max-height: 100px;
}

.is-active {
	color: var(--accent);
	border-bottom: 1px solid var(--accent);
}

/* FOOTER COMPONENT */

footer {
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

footer h3 {
	font-weight: normal;
	color: var(--primary);
}

footer ul {
	display: flex;
	gap: 1em;
}

footer i {
	font-size: 1.3rem;
	color: var(--primary);
	transition: 0.3s all;
}

footer i:hover {
	color: var(--secondary);
}

/* FORM COMPONENT */

.form-container {
	display: flex;
	flex-direction: column;
}

.img-box {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	padding: 5em 1em;
	gap: 1em;
}

form h3 {
	margin-bottom: 1em;
	color: var(--primary);
	font-size: 1.5rem;
}

.form__group {
	position: relative;
	padding: 1.25em 0 0;
	width: 100%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: none;
	border-bottom: 2px solid var(--secondary);
	outline: 0;
	font-size: 1rem;
	color: var(--text);
	padding: 0.44em 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1rem;
	cursor: text;
	top: 1.25rem;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--secondary);
	pointer-events: none;
}

.form__field:focus {
	padding-bottom: 0.375em;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, var(--accent), var(--secondary));
	border-image-slice: 1;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--accent);
	font-weight: 700;
}

.form__field:required,
.form__field:invalid {
	box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form button {
	width: 50vw;
	margin: 0 auto;
	margin-top: 1em;
	font-family: inherit;
	font-size: 1.25rem;
	background: var(--secondary);
	padding: 0.7em 1em;
	padding-left: 0.9em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 16px;
	overflow: hidden;
	transition: all 0.2s;
	cursor: pointer;
}

form button span {
	color: var(--primary);
	display: block;
	margin-left: 0.3em;
	transition: all 0.3s ease-in-out;
}

form button svg {
	display: block;
	transform-origin: center center;
	transition: transform 0.8s ease-in-out;
}

form button svg .svg-color {
	fill: var(--primary);
}

form button:hover .svg-wrapper {
	animation: fly-1 0.6s ease-in-out infinite alternate;
}

form button:hover svg {
	transform: rotate(405deg) scale(1.1);
}

form button:hover span {
	display: none;
}

form button:active {
	transform: scale(0.95);
}

@keyframes fly-1 {
	from {
		transform: translateY(0.1em);
	}

	to {
		transform: translateY(-0.1em);
	}
}

/* HOME PAGE */

.main {
	padding: 5em 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1em;
	background-color: var(--background);
	color: var(--text);
	margin: 0 1em;
	padding: 1em;
	text-align: center;
}

.main-wrap h1 {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	margin-bottom: 2rem;
	color: var(--primary);
}

.main-wrap p {
	color: var(--secondary);
}

.cta-buttons {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.button {
	position: relative;
	transition: all 0.3s ease-in-out;
	padding-block: 0.5rem;
	padding-inline: 1.25rem;
	background-color: var(--primary);
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--secondary);
	gap: 10px;
	border: 3px solid var(--secondary);
	outline: none;
	overflow: hidden;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}

.icon {
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
	fill: var(--secondary);
}

.button:hover {
	transform: scale(1.05);
	border-color: var(--accent);
	color: var(--accent);
}

.button:hover .icon {
	transform: translate(4px);
	fill: var(--accent);
}

.button:hover::before {
	animation: shine 1.5s ease-out infinite;
}

.button::before {
	content: '';
	position: absolute;
	width: 100px;
	height: 100%;
	background-image: linear-gradient(
		120deg,
		rgba(255, 255, 255, 0) 30%,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0) 70%
	);
	top: 0;
	left: -100px;
	opacity: 0.6;
}

@keyframes shine {
	0% {
		left: -100px;
	}

	60% {
		left: 100%;
	}

	to {
		left: 100%;
	}
}

.outline {
	background-color: unset;
}

/* CATEGORIES PAGE */

.categories-div {
	margin: 5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}

.categories-div h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--primary);
}

.categories {
	background-color: var(--background);
	max-width: 400px;
	color: var(--text);
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
	box-shadow: var(--shadow);
	margin-bottom: 2em;
}

.categories p {
	color: var(--accent);
}

.categories img {
	width: 100%;
}

/* MODELS PAGE */

.programas-wrap {
	display: flex;
	flex-direction: column;
	gap: 2em;
	background-color: var(--background);
	color: var(--text);
	margin: 5em 1em;
	padding: 2em 1em;
	text-align: center;
}

.type {
	display: flex;
	max-width: 400px;
	flex-direction: column;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	margin-bottom: 2em;
}

.type:last-child {
	margin-bottom: 0;
}

/* TYPES PAGE */

.programas-wrap h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--primary);
}

.type img {
	max-height: 250px;
	max-width: 100%;
}

.type a {
	display: flex;
	text-transform: uppercase;
	color: var(--accent);
	transition: 0.3s all;
	box-shadow: var(--shadow);
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.type a:hover {
	font-weight: bold;
}

/* MODEL PAGE */

.model .varianti {
	width: 100%;
	text-transform: uppercase;
	text-align: right;
}

.model .varianti h3 {
	color: var(--accent);
}

.model img {
	max-width: 300px;
	margin: 0 auto;
	width: 100%;
	box-shadow: var(--shadow);
	aspect-ratio: 1;
}

.model .caratteristiche {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.model .caratteristiche .bold {
	font-weight: bold;
	color: var(--accent);
}

/* ABOUT PAGE */

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	background-color: var(--background);
	color: var(--text);
	margin: 5em 1em;
	padding: 2em 1em;
	text-align: center;
}

.about h1 {
	color: var(--secondary);
}

.about img {
	width: 100%;
}

.about p {
	line-height: 1.5rem;
	letter-spacing: 0.2px;
	text-align: justify;
}

.about strong {
	color: var(--accent);
}

/* MEDIA QUERYS */

@media (min-width: 750px) {
	/* HEADER COMPONENT */

	nav {
		flex-direction: row;
		padding: 1em 2em;
	}

	nav ul li {
		font-size: 1.2rem;
	}

	/* FORM COMPONENT */

	.form-container {
		flex-direction: row;
		padding: 2em 0;
	}

	.img-box {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		border-radius: 4px;
	}

	form {
		width: 100%;
		padding: 5em 2em;
	}

	form h3 {
		font-size: 1.8rem;
	}

	.form__group {
		padding: 1.5em 0 0;
	}

	.form__field {
		font-size: 1.2rem;
	}

	.form__field:placeholder-shown ~ .form__label {
		font-size: 1.2rem;
	}

	.form__label {
		font-size: 1.2rem;
	}

	.form__field:focus ~ .form__label {
		font-size: 1.2rem;
	}

	form button {
		width: 80%;
	}

	/* HOME PAGE */

	.main-wrap {
		row-gap: 2em;
		margin: 0 2em;
		padding: 2em;
	}

	.main-wrap h1 {
		font-size: 1.8rem;
	}

	.main-wrap p {
		font-size: 1.2rem;
	}

	.cta-buttons {
		flex-direction: row;
		gap: 5em;
	}

	.button {
		padding-inline: 1.5rem;
		gap: 1em;
		font-size: 1.4rem;
	}

	.icon {
		width: 30px;
		height: 30px;
	}

	.button:hover .icon {
		transform: translate(6px);
	}

	/* ABOUT PAGE */

	.about {
		margin: 5em;
		padding: 2em;
	}

	.about p {
		line-height: 1.8rem;
		letter-spacing: 0.3px;
	}
}
